@use "../variables" as *;
@use "../mixins" as *;

.button-links {
    width: 100%;
    background: url('../../assets/images/bg.png') no-repeat center / cover;
    .content {
        width: 100%;
        font-family: $font-gotham;
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        padding: 10% 0 20%;

        .booking {
            h2 {
                font-size: 52px;
                margin-bottom: 8%;
            }
        }

        .divider-image {
            margin: 15% 0;
            img {
                width: 81px;
                height: auto;
            }
        }

        .memories {
            h2 {
                font-size: 52px;
                margin-bottom: 10%;
            }
            .description {
                font-size: 9.11px;
                line-height: 1.8;
                margin-bottom: 2%;
            }
            .vi {
                line-height: 1.8;
                font-size: 8px;
                margin-bottom: 4%;
            }
        }

        h2 {
            font-family: $font-main;
            color: $title-color;
            font-weight: 300;
        }

        .action-btn {
            font-family: $font-gothamBold;
            text-decoration: none;
            padding: 1.7% 7%;
            background: #8f441f;
            color: white;
            border: none;
            border-radius: 8px;
            font-weight: 600;
            font-size: 9.11px;
            cursor: pointer;
            text-transform: uppercase;
            letter-spacing: 1px;
            transition: background 0.3s ease;
            margin-bottom: 10%;
        }
    }

    @media (max-width: 500px) {
        .content {
            .booking {
                h2 {
                    font-size: calc((52 / 500) * 100vw);
                }
            }

            .divider-image {
                img {
                    width: calc((81 / 500) * 100vw);
                }
            }

            .memories {
                h2 {
                    font-size: calc((52 / 500) * 100vw);
                }
                .description {
                    font-size: calc((9.11 / 500) * 100vw);
                }
                .vi {
                    font-size: calc((8 / 500) * 100vw);
                }
            }
            .action-btn {
                font-size: calc((9.11 / 500) * 100vw);
            }
        }
    }
}