@use "../variables" as *;
@use "../mixins" as *;

.memory-collage {
    width: 100%;
    background: url('../../assets/images/bg.png') no-repeat center / contain;
    @include flex-center;
    padding: 5%;

    .content {
        width: 100%;
        .box-imgs:first-child {
            max-width: 298px;
            aspect-ratio: 298 / 278;
            width: 100;
            img.main {
                width: 100%;
                height: 100%;
            }
        }
    }
}