$shadow-default: 0 10px 30px rgba(0, 0, 0, 0.25);
$radius: 14px;

// Colors
$title-color: #8f441fff;
$primary-color: #f09;
$secondary-color: #ffcc00;
$bg-color: #fff;

// Font
$font-main: 'Hikary', sans-serif;
$font-gotham: 'SVN-GothamBook', sans-serif;
$font-gothamBold: 'SVN-gothamBold', sans-serif;

// Animation
$duration-fast: 0.5s;
$duration-slow: 1.2s;
