@use "../variables" as *;
@use "../mixins" as *;

#page2 {
    display: none;
    opacity: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    // pointer-events: none;
}

.scroll-container {
    max-width: 500px;
    width: 100%;
    height: 100%;
    position: relative;
    overflow-x: hidden;
    // box-shadow: $shadow-default;
    @include flex-center;
    flex-direction: column;
}

#page2.show {
    display: flex;
}