@use "../variables" as *;
@use "../mixins" as *;


#page1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

#page1.hidden {
    display: none;
}

.envelope-container {
    max-width: 500px;
    width: 100%;
    aspect-ratio: 500 / 822;
    position: relative;
    overflow-x: hidden;
    box-shadow: $shadow-default;
    @include flex-center;
}

.envelope {
    background: url('../../assets/images/base-bg.png') no-repeat center / cover;
    width: 100%;
    height: 100%;
    background-color: aliceblue;
    font-family: 'SVN-GothamBook', sans-serif;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
    .save-date-text p, .date {
        text-transform: uppercase;
        margin-bottom: 5%;
    }

    .names {
        font-family: 'Hikary', sans-serif;
        font-size: 32px;
        font-weight: 300;
        color: #8f441fff;
        margin-bottom: 10%;
    }
    .envelope-imgs {
        max-width: 383px;
        width: 100%;
        aspect-ratio: 383 / 456;
        margin: 0 auto;
        position: relative;
        .envelope-backend {
            width: 100%;
            height: 100%;
            background: url('../../assets/images/letter-bg.png') no-repeat center / cover;
        }

        .photo-frame {
            position: absolute;
            bottom: 5%;
            max-width: 383px;
            width: 100%;
            aspect-ratio: 383 / 243;
            background: url('../../assets/images/inner-herro.png') no-repeat center / cover;
        }
        .envelope-front {
            position: absolute;
            bottom: 0;
            max-width: 383px;
            width: 100%;
            aspect-ratio: 383 / 266;
            background: url('../../assets/images/letter-front.png') no-repeat center / cover;
        }

        .open-btn {
            text-decoration: none;
            color: #000;
            position: absolute;
            bottom: 4%;
            right: 50%;
            transform: translateX(50%);
            font-size: 11.5px;
            text-transform: uppercase;
            color: #814d25ff;
        }
    }
    .date {
        margin-top: 5%;
    }

    @media (max-width: 500px) {
        font-size: calc((12 / 500) * 100vw);
        .names {
            font-size: calc((32 / 500) * 100vw);
        }

        .envelope-imgs {
            max-width: calc((383 / 500) * 100vw);

            .open-btn {
                font-size: calc((11.5 / 500) * 100vw);
            }
        }
    }
}

